.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 2rem;
}
.movie-title {
  font-weight: 600;
  max-width: 16rem;
}
.featuredmovie-container {
  padding: 1rem;
}
.featuredmovie-heading {
  margin-left: 6.5rem;
}
.release-date {
  color: rgb(68, 67, 67);
}
.movie-image {
  height: 24rem;
}
@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .featuredmovie-heading {
    margin-left: 2rem;
  }
  .featuredmovie-container {
    padding: 0;
  }
}
